<h1><%= @recipe.title %></h1>

<p>Description: <%= @recipe.description %></p>
<p>Tags:</p>
<ul>
  <% @recipe.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<p><a href="/recipes/<%= @recipe.id %>/edit">edit this recipe</a></p>

<p><a href="/recipes/<%= @recipe.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>


<p><a href="/recipes">Return to list recipes page</a></p>
